@model IEnumerable<Priyarank.Models.Team>
@{
    ViewData["Title"] = "Standings";
    int i = 1;
}
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="row">
    <h2>Current Rankings</h2>
    <table class="table">
        <tr>
            <th>
                Rank
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                    Rating @*@Html.DisplayNameFor(model => model.Elo)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wins)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Losses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Draws)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(rank => i)
                    @{i++;}
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Elo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Wins)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Losses)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Draws)
                </td>
            </tr>
        }

    </table>

</div>
